@{
    ViewBag.Title = "Page Under Development";
}

<META HTTP-EQUIV="Refresh" CONTENT="5;URL=@(Url.Action("Index", "Home"))">

<h2>Sorry this page is currently under development.</h2>
<br />
<h3>You will be Redirected to the Homepage in 5 seconds.</h3>
